
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    max-width: 400px;
    width: 100%;
    padding: 30px; 
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}


.expiry-date {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.expiry-date input {
    width: 45%; 
    padding: 10px;
}


input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box; 

}

button:hover {
    background-color: #0056b3;
}


.error-message {
    color: red;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}


.success-message {
    color: green;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #007BFF; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 600px) {
    form {
        padding: 20px; 
    }

    h1 {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
    }
}

.hidden {
    display: none;
}
